<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Error"
	  internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="ServiceName" value="${gdc:item=ServiceName}" />
  <variable name="LogPath" value="./logs" />

  <targets>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
				layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target xsi:type="File"
				name="JsonFile"
				lineEnding="Default"
				autoFlush="true"
				keepFileOpen="false"
				concurrentWrites="true"
				fileName="${var:LogPath}/log-${var:ServiceName}.json"
				archiveDateFormat="yyyyMMdd"
				archiveFileName="${var:LogPath}/archive/log-${var:ServiceName}-${machinename}-{#}.json"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				maxArchiveFiles="30">
      <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="3">
        <attribute name="Hostname" layout="${machinename}" />
        <attribute name="UTCTime" layout="${longdate:universalTime=true}" />
        <attribute name="Time" layout="${longdate}" />
        <attribute name="ProcessId" layout="${processid}" />
        <attribute name="ServiceName" layout="${var:ServiceName}" />
        <attribute name="ThreadId" layout="${threadid}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${onexception:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
      </layout>
    </target>

    <target xsi:type="Console"
				name="consoleJson">
      <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="3"
					includeMdc="true">
        <attribute name="Hostname" layout="${machinename}" />
        <attribute name="UTCTime" layout="${longdate:universalTime=true}" />
        <attribute name="Time" layout="${longdate}" />
        <attribute name="ProcessId" layout="${processid}" />
        <attribute name="ServiceName" layout="${var:ServiceName}" />
        <attribute name="ThreadId" layout="${threadid}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${onexception:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Debug" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="consoleJson,JsonFile" />
  </rules>
</nlog>
